
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="//fonts.googleapis.com/css?family=Spartan:400,500,600,700,900&display=swap" rel="stylesheet">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
  </head>
  <body>
<!--w3l-header-->

<header class="w3l-header-nav">
	<!--/nav-->
	  <nav class="navbar  navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<img src="/assets/images/hotels.png" alt="Your logo" style="height:35px;" /> RoomVio</a>
			<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item @@about__active">
						<a class="nav-link" href="index.html">Home</a>
					</li>
                    <li class="nav-item active">
						<a class="nav-link" href="/showRoomsToUser">Rooms</a>
					</li>
					<li class="nav-item @@about__active">
            <a class="nav-link" href="/showUserBookings">My Bookings</a>
        </li>
                    {{ if. }}
                        {{ if .U.Isactive }}
                             {{ if eq .U.Useraccess "admin" }}
                                  <li class="nav-item @@contact__active">
                                    <a class="nav-link" href="/admin/panal">admin panal</a>
                                     </li>
                             {{ end }}
                             <li class="nav-item @@contact__active">
					                	<a class="nav-link" href="/logout">logout</a>
					                 </li>
                            {{ else }}  
                         <li class="nav-item @@contact__active">
                        <a class="nav-link" href="/login">login</a>
                         </li>
                        {{end}}
                     {{end}}
                   
				</ul>
				<a href="/showRoomsToUser" class="ml-3 book btn btn-secondary btn-style">Book Now</a>
			</div>
		</div>
	</nav>
	<!--//nav-->
</header>
<!-- //w3l-header -->



    <!-- //w3l-availability-form-section -->
  <div class="best-rooms py-1">
    <div class="container py-lg-3  py-sm-2">




                  <!-- /w3l-availability-form-section -->
                  <div class="w3l-availability-form w3l-availability-form-main py-2" id="booking" >
                      <div class="container pt-lg-3 pb-lg-5">
                          <div class="forms-top">
                              <div class="form-right">
                                  <div class="form-inner-cont">
                                      <h3 class="title-small">Check Availability</h3>

                                         <form method="POST" enctype="multipart/form-data" action="/showRoomsToUser/checkingAvailablity">
                                        <div class="row book-form">
                                              <div class="form-input col-md-4 col-sm-6 mt-3">
                                                  <label>Check-in Date</label>
                                                  <input type="date" name="roomsCheckIn" value="" placeholder="Date" required>
                                              </div>
                                              <div class="form-input col-md-4  col-sm-6 mt-3">
                                                  <label>Check-out Date</label>
                                                  <input type="date" name="roomsCheckOut"value="" placeholder="Date" required>
                                              </div>

                                              <div class="bottom-btn col-md-4 col-sm-6 mt-3">
                                                  <label>Check availability </label>
                                                  <button type="submit" class="btn btn-style btn-primary w-100 px-2">Check Availability</button>                     

                                              </div>
                                          </div>
                                        </form>
                                  </div>
                              </div>
                          </div>
                          <p style="color: rgb(201, 46, 11);font-size: 14px;"><br>{{.Msg}}</p>

                      </div>
                  </div>



                  <h3 class="title-big text-center mt-3"><u>Featured rooms recommended for you</u></h3>

           
            <!-- 80vh -->
                <div class="maghny-gd-1 row align-items-stretch ">
                  {{ if . }}
                            {{ range .Rms}}
                       
                            <div  class="maghny-gd-1 d-flex pt-3 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <div class="maghny-grid card  ">
                                    <figure class="effect-lily ">

                                      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <img class="d-block w-100" src="/{{ .RoomImage1 }}" style="width:100%;height:40vh;" alt="First slide">
                                          </div>
                                          <div class="carousel-item">
                                            <img class="d-block w-100" src="/{{ .RoomImage2 }}" style="width:100%;height:40vh;" alt="Second slide">
                                          </div>
                                          <div class="carousel-item">
                                            <img class="d-block w-100" src="/{{ .RoomImage3 }}" style="width:100%;height:40vh;" alt="Third slide">
                                          </div><div class="carousel-item">
                                            <img class="d-block w-100" src="/{{ .RoomImage4 }}" style="width:100%;height:40vh;" alt="Fourth slide">
                                          </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                      </div>

                                        <figcaption class="w3set-hny">
                                            <div>
                                              <p>Price ₹ {{.RoomPrice}} </p>
                                                <h4 class="top-text">
                                                    <span></span></h4>
                                                
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div  class="room-info "  >
                                        <h3 class="room-title"><a href="#">Hotel : {{.HotelName}} <br> Room Number : {{.RoomNumber}}</a></h3>
                                        <h6 class="fa mb-3" style="font-size: 20px; color:green;">Price: ₹{{.RoomPrice}}/day </h6>
                                        <div class="overflow-auto" style="height: 25vh;">
                                            <ul class="mb-3 ">
                                                <li><span class="fa fa-check"></span> {{.RoomCapacity}} Guests</li>
                                                <li><span class="fa fa-check"></span>{{.RoomType}}</li>
                                                <li><span class="fa fa-check"></span> {{.RoomSize}}sqft</li>
                                                {{if .RoomAc}}<li><span class="fa fa-check"></span>AC </li>{{end}}
                                                {{if .RoomTv}}<li><span class="fa fa-check"></span>TV </li>{{end}}
                                                {{if .RoomWifi}}<li><span class="fa fa-check"></span>WIFI </li>{{end}}
                                                {{if .RoomAttachedBathroom}}<li><span class="fa fa-check"></span>Attached bathroom</li>{{end}}
                                                {{if .RoomService}}<li><span class="fa fa-check"></span>Room Service available</li>{{end}}
                                                {{if .RoomWindowView}}<li><span class="fa fa-check"></span>Window View </li>{{end}}
                                                {{if .RoomBalconyTerruse}}<li><span class="fa fa-check"></span>Balcony/Terruse </li>{{end}}
                                                
    
                                            </ul>
                                            <div  >
                                              <p>{{.RoomDiscretion}}</p>
                                            </div>
                                        </div>
                                        
                                      </div>
                                      <a href="/showRoomsToUser?msg=1" class="btn btn-style btn-primary m-1">Book Now </a>
                                </div>   
                            </div>

                          {{ end }}
                      {{ end }}
                    </div>
                
               
         </div>
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="/showRoomsToUser/previous">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">{{.Page}}/{{.TottalPage}}</a></li>
              <li class="page-item"><a class="page-link" href="/showRoomsToUser/next">Next</a></li>
            </ul>
          </nav>
        </div>
    </div>
</div>

<section class="w3l-footer-29-main">
  <div class="footer-29 py-5">
    <div class="container py-lg-4">
      <div class="row footer-top-29">
        <div class=" col-md-4 col-sm-6 footer-list-29 footer-1">
          <h6 class="footer-title-29">Contact Us</h6>
          <ul>
            <li>
              <p><span class="fa fa-map-marker"></span> Luxury hotel, #32841 block, #221DRS Rental & Paid rooms
                business, UK.</p>
            </li>
            <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
            <li><a href="mailto:roomvio@mail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                roomvio@mail.com</a></li>
          </ul>
        </div>
        <div class=" col-md-4 col-sm-6 footer-list-29 footer-2 mt-sm-0 mt-5">

          <ul>
            <h6 class="footer-title-29">Useful Links</h6>
            <li><a href="index.html">Home</a></li>
            <li><a href="/showRoomsToUser">Rooms</a></li>
            <li><a href="/showUserBookings"> My Bookings</a></li>
            <li><a href="/showRoomsToUser">Book Now</a></li>
          </ul>
        </div>
        <div class=" col-md-4 col-sm-12 footer-list-29 footer-3 ">
            <h6 class="footer-title-29">Latest from blog</h6>
            <div class="footer-post mb-4">
              <a href="#url">Work Passionately</a>
              <p class="small"><span class="fa fa-clock-o"></span> March 9, 2020</p>
            </div>
            <div class="footer-post">
              <a href="#url">Work Passionately without any hesitation</a>
              <p class="small"><span class="fa fa-clock-o"></span> March 9, 2020</p>
            </div>
            
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w3l-footer-29-main w3l-copyright">
  <div class="container">
    <div class="row bottom-copies">
      <p class="col-lg-8 copy-footer-29">© 2020 Hotels. All rights reserved | Designed by JASHFEER<a
          href="https://w3layouts.com">W3layouts</a></p>

      <div class="col-lg-4 main-social-footer-29">
        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
      </div>

    </div>
  </div>

 <!-- move top -->
 <button onclick="topFunction()" id="movetop" title="Go to top">
  &#10548;
</button>




<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->
</section>

<!-- Template JavaScript -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>

<script src="/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->

<!-- script for owlcarousel -->
<script>
  $(document).ready(function () {
    $('.owl-testimonial').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for owlcarousel -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>


<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<script src="/assets/js/bootstrap.min.js"></script>
<!-- JavaScript Bundle with Popper -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>


</body>

</html>